apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: hello
  namespace: default
  annotations:
    vpm-mini.dev/s5-apply-smoke: "1"
spec:
  template:
    spec:
      containers:
        - image: gcr.io/knative-samples/helloworld-go
          env:
            - name: TARGET
              value: "World"
