name: Decision Manual
on:
  workflow_dispatch: {}
permissions:
  contents: write
  pull-requests: write
  id-token: write
jobs:
  call:
    uses: ./.github/workflows/synthesize_decisions.yml
    secrets: inherit  # pragma: allowlist secret
